[Unit]
Description=maillog service
After=syslog.target

[Service]
Type=simple
User=root
Group=root
Restart=always
WorkingDirectory=/root/
ExecStart=/usr/sbin/maillog.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
